.table-container {
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2; /* Optional: Set background color for header */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
